/* CSS Document */
*{
margin:0px;
padding:opx;
}


#main-wrapper{
width:800px;
background-color:#666666;
margin:auto;
}

#header-wrapper{
background-color:#008CBA;
height:6em;
margin:auto;
}



h2{
margin:auto;
text-align:center;
padding-top:30px;
font-size:35px;
text-decoration:underline;
color:#fff;
}

#form-wrapper{
width:auto;
height:500px;
margin:auto;
border:3px solid #006699;
background-color:#fff;
}

table{
padding-top:80px;
margin:auto;
position:relative;
}

td{
font-size:24px;
}

#submitbtn{
font-size:20px;
color:#FF0000;
margin-left:400px;
}


#nameerror, #addresserror, #ageerror, #emailerror{
float:right;
padding-right:10px;
color:#FF0000;
}

#footer-wrapper{
background-color:#008CBA;
height:120px;
margin:auto;
}


#footer{
padding:20px 0 0 200px;
}

